body {
   
    background: rgba(3, 3, 3, 0.811); 
    /* background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000);  */
    color: white;
    margin: 0%;
    font-size: 16px;
  }

  
/* VideoInput */

.fileInputLabel {
    padding: 10px 32px; 
    margin-top: 20%;
    display: flex;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #862ba2 0%, #2b1b30 100%);
    box-shadow: 0px 2px 4px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px rgba(58, 65, 111, 0.5);
    border-radius: 5px;
    color: #fff;
    height: auto;
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  .fileInputLabel:hover {
    background: radial-gradient(100% 100% at 100% 0%, #4d185f 0%, #770d98 100%); 
    box-shadow: 0px 4px 8px rgba(84, 76, 103, 0.4), 0px 7px 13px -3px rgba(48, 45, 53, 0.3), inset 0px -3px 0px #33343c;
    transform: translateY(-2px);
  }
  
  .fileInputLabel:active {
    box-shadow: inset 0px 3px 7px #6b2183;
    transform: translateY(2px);
  }


/* VideoPlayer.css */
.videoPlayerContainer {
  flex: 70; 
  margin: 10px 2%;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
    width: 100%;
    height: 400px;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(to right top, #0e0e0e, #221c35, #3b265b, #5c2c80, #862ba2, #862ba2, #862ba2, #862ba2, #5c2c80, #3b265b, #221c35, #0e0e0e);
}

.playPauseButton {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.videoPlayerContainer:hover .playPauseButton {
    opacity: 1; 
  }

/* Styling for Metadata */
.metadataContainer {
  flex: 30;
  margin: 10px 2%;
  padding: 18px;
  width: 50%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  background-color: #000000b7;
}

.metadataContainer h3 {
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.metadataContainer p {
  color: #fff;
  padding: 2px;
  /* margin-bottom: 8px; */
  object-fit: cover;
}

  
/* waveform*/

.waveform-container {
    margin-top: 10px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 5px;
  }
  
  .waveform-canvas {
    width: 100%;
    height: 80px;
    max-width: 100%;
  }